<section class="main">
  <div class="modal">
      <div class="modal-text">
        <div class="modal-icon"></div>
        Спасибо, заказ принят
      </div>
  </div>
  <div class="video-bg">
    <video width="100%" height="auto" preload="auto" autoplay="autoplay" loop="loop" >
        <source src="src/img/speed3.mp4" type="video/mp4"></source>
    </video>
  </div>
  <div class="container">
    <div class="main-row">
      <div class="main-col main-col-logos">
        <div class="main-title">Двигайся в стиле</div>
        <div class="main-leftLogo"></div>
        <div class="main-disc">
          Сервис работает в тестовом режиме. Оплата только наличными. Для подробностей звоните менеджеру <a href="tel:375296620272">+375&nbsp;29&nbsp;662&nbsp;02&nbsp;72</a>
        </div>
      </div>
      <div class="main-col main-col-form">
          <div class="tab">
            <button class="tablinks active" value="devilery">Пеший курьер</button>
            <button class="tablinks" value="devilerytaxi">Доставка</button>
            <button class="tablinks" value="taxi">Такси</button>
          </div>
        <div class="main-forms">
          <div class="main-dev devilery active">
            <form action="" class="form form-send1">
              <input hidden name="type" value="1">
              <div class="form-wrapper">
                <div class="field">
                  <input class="field-input" id="pickup-point" type="text" name="point" placeholder="Забрать улица/дом/корпус " required>
                  <input class="field-input field-input-podezd" name="pointEntrance" type="text" placeholder="Подъезд/этаж">
                  <input class="field-input field-input-kv" type="text" name="pointRoom" placeholder="Кв/офис">
                </div>
                <div class="field">
                  <input class="field-input" type="text" name="point" placeholder="Доставить улица/дом/корпус">
                  <input class="field-input field-input-podezd" type="text" name="pointEntrance" placeholder="Подъезд/этаж">
                  <input class="field-input field-input-kv" type="text" name="pointRoom" placeholder="Кв/офис">
                </div>
                <div class="newfield"></div>
                <div class="field">
                  <button type="button" class="btn-add">Добавить адрес</button>
                </div>
                <div class="field">
                  <input class="field-input" type="text" name="clientName" placeholder="Ваше имя" required>
                </div>
                <div class="field">
                  <input class="field-input" type="text" name="clientPhone" placeholder="+375291234567" required>
                </div>
                <div class="field">
                  <input class="field-input" type="text" name="time" placeholder="Время доставки с.. по.." required>
                </div>
                <div class="field">
                  <textarea class="field-textarea" type="text" name="comment" placeholder="Напишите, что и когда привезти" rows="2" required></textarea>
                </div>
                <div class="field">
                  <button type="submit" class="btn-send">Отправить заказ</button>
                </div>
              </div>
            </form>
          </div>
          <div class="main-dev devilerytaxi">
            <form action="" class="form form-send2">
              <input hidden name="type" value="2">
              <div class="form-wrapper">
                <div class="field">
                  <input class="field-input" id="pickup-point" type="text" name="point" placeholder="Забрать улица/ дом/ корпус " required>
                  <input class="field-input field-input-podezd" name="pointEntrance" type="text" placeholder="Подъезд/ этаж">
                  <input class="field-input field-input-kv" type="text" name="pointRoom" placeholder="Кв/ офис">
                </div>
                <div class="field">
                  <input class="field-input" type="text" name="point" placeholder="Доставить улица/ дом/ корпус">
                  <input class="field-input field-input-podezd" type="text" name="pointEntrance" placeholder="Подъезд/ этаж">
                  <input class="field-input field-input-kv" type="text" name="pointRoom" placeholder="Кв/ офис">
                </div>
                <div class="newfield"></div>
                <div class="field">
                  <button type="button" class="btn-add">Добавить адрес</button>
                </div>
                <div class="field">
                  <input class="field-input" type="text" name="clientName" placeholder="Ваше имя" required>
                </div>
                <div class="field">
                  <input class="field-input" type="text" name="clientPhone" placeholder="+375291234567" required>
                </div>
                <div class="field">
                  <input class="field-input" type="text" name="time" placeholder="Время доставки с.. по.." required>
                </div>
                <div class="field">
                  <textarea class="field-textarea" type="text" name="comment" placeholder="Напишите, что и когда привезти" rows="2" required></textarea>
                </div>
                <div class="field">
                  <button type="submit" class="btn-send">Отправить заказ</button>
                </div>
              </div>
            </form>
          </div>
          <div class="main-dev taxi">
            <form action="" class="form form-send3">
              <input hidden name="type" value="3">
              <div class="form-wrapper">
                <div class="field">
                  <input class="field-input taxi-input" id="pickup-point" name="point" type="text" placeholder="Откуда везем " required>
                  <input class="field-input taxi-input field-input-podezd" name="pointEntrance" type="text" placeholder="Подъезд">
                </div>
                <div class="field">
                  <input class="field-input taxi-input" type="text" name="point" placeholder="Куда везем">
                  <input class="field-input taxi-input field-input-podezd" name="pointEntrance" type="text" placeholder="Подъезд">
                </div>
                <div class="newfield"></div>
                <div class="field">
                  <button type="button" class="btn-add">Добавить адрес</button>
                </div>
                <div class="field">
                  <input class="field-input taxi-input" type="text" name="clientName" placeholder="Ваше имя" required>
                </div>
                <div class="field">
                  <input class="field-input taxi-input" type="text" name="clientPhone" placeholder="+375291234567" required>
                </div>
                <div class="field">
                  <textarea class="field-textarea taxi-input" type="text" name="comment" placeholder="Комментарий к заказу" rows="2" required></textarea>
                </div>
                <div class="field">
                  <button type="submit" class="btn-send">Вызвать такси</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="main-downBlock">
          <a href="/news1.php" target="_blank" class="main-downBlock-text active">Запуск сервиса<br> доставки в Минске</a>
          <a href="/buisness.php" target="_blank" class="main-downBlock-text">Выгодное предложение<br> для бизнеса</a>
          <a href="/dostavka.php" target="_blank" class="main-downBlock-text">Доставка курьером<br> и на авто</a>
          <a href="/tarif.php" target="_blank" class="main-downBlock-text">Вызвать такси в Минске<br> по доступным ценам </a>
          <a href="/work.php" target="_blank" class="main-downBlock-text"> Работа курьером<br> в Минске </a>
          <div class="main-downBlock-icon"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjPHFAzv1EpXDfAcMG-Bcj0QXl2_VfJ2M&libraries=places&callback=initMap" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>

  function initMap() {
      var inputs = $('.searchTextField');
    var options = {
        componentRestrictions: {country: 'by'}
    };

    $(inputs).each(function (i, element) {

    var autocomplete = new google.maps.places.Autocomplete(element, options);

    google.maps.event.addListener(autocomplete, 'place_changed', function () {
        var place = autocomplete.getPlace();
        console.log(place.geometry.location.lat());
        console.log(place.geometry.location.lng());
        });
    });
  }

</script>
