<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kivi</title>

  <link rel="shortcut icon" href="favicon.ico" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Average+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <section class="header">
    <div class="container">
        <div class="header-row">
            <div class="header-col header-col-logo">
                <a href="/index.html">
                    <div class="header__logo"></div>
                </a>
            </div>
            <div class="header-col header-col__menu">
                <div class="header-btn"><span></span></div>
                <ul class="header-ul">
                    <li class="header-li">
                        <a href="/koncept.html" class="header-a">Концепция</a>
                    </li>
                    <li class="header-li">
                        <a href="/buisness.html" class="header-a">Для бизнеса</a>
                    </li>
                    <li class="header-li">
                        <a href="/tarif.html" class="header-a">Тарифы</a>
                    </li>
                    <li class="header-li">
                        <a href="/dostavka.html" class="header-a">Доставка</a>
                    </li>
                    <li class="header-li">
                        <a href="/work.html" class="header-a">Работа у нас</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
 