<div class="buisness">
  <div class="container">
    <h1>Для бизнеса</h1>
    <div class="buisness-row">
      <div class="buisness-col buisness-col-text">
        <h2>Доставим ваши товары</h2>
        <p>Оперативная и безопасная доставка товаров - залог хорошего впечатления о компании, так что ее организация должна быть безупречной. Не все магазины способны подстроиться под клиента и доставить товары в удобное для него время, что создает для покупателя дополнительные трудности. В то же время организация доставки товаров в нужный срок повышает шанс того, что клиент обратиться к Вам снова, но как это сделать?</p>
        <p>Мы осуществляем доставку товара и заботимся о том, чтобы он дошел до клиента быстро и безопасно!</p>
        <p>Также мы помогаем в решении еще одной важной проблемы компании – организации доставки документов по городу, когда она требуется.</p>
        <p>Нагружать дополнительной работой подчиненных и заставлять их носиться по улицам с папками – решение прошлого, которое плохо сказывается на продуктивности сотрудников. Нужно, чтобы доставка документов в Минск была осуществлена в указанный срок? Наш курьер привезет бумаги вовремя и проследит, чтобы они были переданы нужному человеку.</p>
        <p>Необходимы услуги по доставке? Вы уже знаете, где их найти!</p>
      </div>
      <div class="buisness-col">
        <div class="buisness-img buisness-img-1"></div>
      </div>
    </div>
    <div class="buisness-row buisness-row-reverse">
      <div class="buisness-col buisness-col-text">
        <h2>Доставим ваших сотрудников</h2>
        <p>Одна из ключевых составляющих успешного бизнеса – высококвалифицированные специалисты. Справляться с большой нагрузкой на работе позволяет дополнительный комфорт, созданный вокруг. И если деньги не всегда способны удержать лучших из лучших, то перед социальными бонусами большинство людей тает.</p>
        <p>Организация доставки сотрудников – один из способов продемонстрировать свое лояльное отношение и поощрить человека за хорошую работу. Кроме очевидного бонуса – поездки до работы и обратно – доставка работников к месту работы позволяет быть уверенным, что человек не опоздает на совещание из-за проблем с транспортом и не подхватит простуду в автобусе.</p>
        <p>Еще одно преимущества доставки работника - тот факт, что человек наверняка приедет в офис в хорошем расположении. А, как известно, отличное настроение работника повышает его продуктивность!</p>
        <p>Мы поможем организовать доставку по Минску и сделать ее одним из показателей успеха в Вашем бизнесе!</p>
      </div>
      <div class="buisness-col">
        <div class="buisness-img buisness-img-2"></div>
      </div>
    </div>
  </div>
</div>