<div class="dostavka">
  <div class="container">
    <h1>Доставка</h1>
    <div class="dostavka-row">
      <div class="dostavka-col dostavka-col-text">
        <p>Все мы знаем, как часто сейчас необходима эта услуга. В то же время лишь небольшая часть
          магазинов способна ее предоставить, а те, кто готов, часто сталкиваются с вопросами
          логистики и нехваткой штатных курьеров.</p>
          <p>В Kivi ride решили изменить сложившуюся ситуацию с помощью введения новой услуги!</p>
          <p>Теперь Вы можете получить на дом не только товары из любого магазина, но и передать
            документы, одежду на примерку, забытую ссобойку или подарок ко Дню рождения. Что
            угодно окажется в точке назначения ровно в срок с курьерами Kivi ride! (за исключением
            <a href="/files/zapr.pdf" target="_blank">запрещенных</a>  для перевозки объектов).</p>

            <div class="tarif-item">
              <div class="tarif-item-title">Что мы доставляем <span class="tarif-item-shape"></span></div>
              <div class="tarif-item-disc">
                <ul>
                  <li>- продукты питания;</li>
                  <li>- одежда (также и для примерки);</li>
                  <li>- обувь;</li>
                  <li>- электротовары;</li>
                  <li>- документы;</li>
                  <li>- детские товары;</li>
                  <li>- товары для творчества и развития;</li>
                  <li>- цветы;</li>
                  <li>- товары ручной работы;</li>
                  <li>- электротовары и комплектующие;</li>
                  <li>- бытовая химия и хозтовары;</li>
                  <li>- канцелярские товары;</li>
                  <li>- зоотовары;</li>
                  <li>- строительные товары;</li>
                  <li>- сантехника;</li>
                  <li>- спортивное питание;</li>
                  <li>- автозапчасти;</li>
                  <li>- печатная продукция;</li>
                  <li>- подскажите, что еще мы можем для Вас доставить написав, на <a href="mailto:info@kivi-ride.by">info@kivi-ride.by</a> </li>
               </ul>
              </div>
            </div>
            <div class="tarif-item">
              <div class="tarif-item-title">Кто доставляет <span class="tarif-item-shape"></span></div>
              <div class="tarif-item-disc">
                <p class="tarif-item-disc-title">Система подбирает и назначает на выполнение Вашего заказа ближайшего к Вам курьера, что позволяет решить Ваш запрос быстро и максимально индивидуально.</p>
                <p>Для обеспечения вашей большей безопасности напишите в комментарии к заявке "Бесконтактная доставка". Более подробные инструкции вы также можете озвучить самому курьеру по телефону.</p>
                <p>Доставка на авто (автокурьер)</p>
                <ul>
                  <li>Идеально подходит для быстрой доставки или перевозки небольших грузов. К примеру, если нужно срочно передать важные бумаги по работе или привезти продукты на неделю целой семье.</li>
                  <li>Ограничение веса отправления – до 60 кг.</li>
                  <li>По запросу на <a href="mailto:info@kivi-ride.by">info@kivi-ride.by</a> возможна организация доставки грузов весом до 1 т.</li>
                </ul>
                <p>Пеший курьер</p>
                <ul>
                  <li>Данную услугу стоит выбрать, если спешка ни к чему и Вам просто необходимо получить желаемое. Например, забрать телефон из ремонта или отправить подарок.</li>
                  <li>Ограничение веса отправления – 20 кг.</li>
                  <li>Смотрите тарифы <a href="/tarif.php">здесь</a></li>
                </ul>
                <p>Примечательно, что тариф на оказание услуги курьерской доставки выставляется до совершения заказа и не меняется впоследствии.</p>
              </div>
            </div>
            <div class="tarif-item">
              <div class="tarif-item-title">Как заказать доставку<span class="tarif-item-shape"></span></div>
              <div class="tarif-item-disc">
                <p class="tarif-item-disc-title">Ознакомьтесь с особенностями выполнения заказов с помощью «Доставка на авто» и «Пеший курьер», выберите в форме заказа соответствующую вкладку.</p>
                <p>1. Вам нужно просто что-то передать.</p>
                <ul>
                  <li>- в форме заказа в графе «Откуда везем» введите адрес Вашего местонахождения или точку, где нужно забрать отправление;</li>
                  <li>- в графе «Куда везем» - адрес места, куда должен прибыть курьер. Если это несколько точек – нажмите на «+» «Добавить адрес».</li>
                  <li>- укажите Ваше имя, номер для связи. Это поможет Вам и курьеру оперативно решать возникающие вопросы.</li>
                  <li>- укажите удобное для Вас время доставки;</li>
                  <li>- оставьте комментарий для уточнений Вашего заказа, если нужно.</li>
                </ul>
                <p>2. Вам нужно что-то привезти.</p>
                <ul>
                  <li>- в форме заказа в графе «Откуда везем» введите адрес желаемого магазина, или, если не важно из какого магазина, вызывайте просто на свой адрес курьера с комментарием – «продукты из магазина»;</li>
                  <li>- в графе «Куда везем» - ваш домашний адрес.</li>
                  <li>- обязательно укажите Ваше имя, номер для связи;</li>
                </ul>
                <p>После получения заказа курьер свяжется с Вами по телефону и уточнит детали доставки. На его viber можете прислать фотографии (или скриншоты) продуктов из корзины сформированной на <a href="https://e-dostavka.by">https://e-dostavka.by</a>  (или фото продуктов, которые вы предпочитаете, из любого другого магазина) - курьер купит и доставит Вам продукты.</p>
                <p>Вам нужно будет рассчитаться по чеку за покупку, а также оплатить сумму за услугу доставки, по тарифам указанным на сайте.</p>
                <p>Может так случиться, что у курьера не окажется денежных средств на покупку товаров, тогда он приедет к Вам за деньгами, сходит(съездит) в ближайший магазин и вернет сдачу с переданной сверх чека суммы.</p>
                <p>Ваше взаимодействие с курьером по каждому отдельному заказу подтверждается бланком доставки. Все вопросы и нюансы доставки Вы спокойно решаете с назначенным сервисом курьером.</p>
                <p><b>Помните!</b> Услуга доставки оплачивается отдельно (наличными или по привязанной банковской карте к сервису).</p>
                <p>Необходимо сделать жизнь проще и безопаснее? Решение найдено!</p>
                <p>Двигайся в стиле Kivi Ride!</p>
              </div>
            </div>

      </div>
      <div class="dostavka-col">
        <div class="dostavka-img dostavka-img-1"></div>
      </div>
    </div>
  </div>
</div>