<div class="dostavka">
  <div class="container">
    <h1>Доставка</h1>
    <div class="dostavka-row">
      <div class="dostavka-col dostavka-col-text">
        <h2>Доставим ваши товары</h2>
        <p>В наше время очень сложно находить время и место, чтобы встретиться с людьми, которые разделяют твои взгляды, с людьми, которых ты хочешь услышать и кем бы ты хотел быть услышанным. Чтобы знать, что твое мнение будет не только услышанным, но и твой голос будет решать. Постоянная смена мест, изолированность в связи с положением в мире отнимают у нас такой шанс. Поэтому «таксисты» - люди, чья работа состоит в том, чтобы помогать людям экономить свое время решили создать пространство, в котором люди могут получать и обмениваться как информацией, так и своим мнением. И все это, не отрываясь от темпа своей жизни – во время перемещения и не выходя из машины.</p>
      </div>
      <div class="dostavka-col">
        <div class="dostavka-img dostavka-img-1"></div>
      </div>
    </div>
  </div>
</div>