<section class="koncept">
  <div class="container">
    <h1>Концепция</h1>
    <p>Ничто так не объединяет людей, как изоляция и непрерывный темп жизни.</p>
    <p>Концепция сервиса «Kivi ride» отображает непрерывное движение, развитие себя и своего бизнеса в Минске и других городах. В чем заключается наша миссия? Всего несколько кликов, и мы решим все Ваши запросы: такси, доставка на авто или пешим курьером. Мы готовы поддержать Вас в тяжелое время.

      Если Вы не хотите выходить на улицу, но при этом нужны продукты, то Ваш заказ заберет ближайшая к Вам машина, доставив все в полной сохранности. А, если Вы готовы подождать, то Вашу заявку примет наш пеший курьер. Волнуетесь о мерах предосторожности? Выбрав наш сервис такси, Вы насладитесь поездкой в любую точку назначения в полной безопасности и заботе о Вас.</p>
    <h2>Новости</h2>
    <div class="koncept-blocks">
      <a href="/news1.html" class="koncept-block">
        <div class="koncept-block-img koncept-block-img-1"></div>
        <div class="koncept-block-text">Kivi ride меняет ситуацию с неудобными доставками и такси!</div>
      </a>
      <a href="/news2.html" class="koncept-block">
        <div class="koncept-block-img koncept-block-img-2"></div>
        <div class="koncept-block-text">Мир меняется, и мы вместе с ним! Нововведения в связи с ребрендингом!</div>
      </a>
      <a href="/news3.html" class="koncept-block">
        <div class="koncept-block-img koncept-block-img-3"></div>
        <div class="koncept-block-text">Срочная доставка? Автокурьер в деле!</div>
      </a>
      <a href="/news4.html" class="koncept-block">
        <div class="koncept-block-img koncept-block-img-4"></div>
        <div class="koncept-block-text">Новый формат доставки: преимущества пешего курьера</div>
      </a>
    </div>                                                                                                       
  </div>
</section>