<section class="koncept">
  <div class="container">
    <h1>Концепция</h1>
    <p>Мобильное приложение «Kivi ride» – новый сервис непрерывного движения, развития себя и своего бизнеса в Минске и других городах. В чем заключается наша миссия? Всего несколько кликов, и мы решим все Ваши запросы: такси, доставка на авто или пешим курьером. Мы готовы поддержать Вас в тяжелое время.</p>
    <p>Если Вы не хотите выходить на улицу, но при этом нужны продукты, то Ваш заказ заберет ближайшая к Вам машина, доставив все в полной сохранности. А, если Вы готовы подождать, то Вашу заявку примет наш пеший курьер. Волнуетесь о мерах предосторожности? Выбрав наш сервис такси, Вы насладитесь поездкой в любую точку назначения в полной безопасности и заботе о Вас.</p>
    <p>Основные особенности приложения Kivi Ride:</p>
    <ul>
      <li>Простота нашего приложения.</li>
      <p>Еще никогда не было так легко и быстро принимать оптимальные решения. Несколько кликов и мы найдем для Вас ближайшую машину или курьера, быстро рассчитав стоимость поездки. А Вам останется отслеживать текущий статус заказа. Нужно лишь отметить в приложении адрес и способ доставки или перемещения.</p>
      <li>Оптимальный тариф для Вашего бюджета.</li>
      <p>Мы полностью удовлетворим все Ваши запросы. Недорогое такси, доставка продуктов  на дом или курьер для разноса заказов клиентам. Стоимость рассчитывается предварительно и не меняется по окончанию работы сервиса. </p>
      <li>Клиентоориентированность.</li>
      <p>Мы готовы заявить о себе не только как о сервисе непрерывного движения, но и поддержки в тяжелое время.  Поэтому своим клиентам мы даем выбор решить свой вопрос исходя из нужного уровня комфорта и ценовой политики. С нами Вы всегда будете в безопасности.</p>
      <li>Быстрота и качество.</li>
      <p>Наши надежные водители и курьеры обеспечат Ваш комфорт. В пожеланиях к заказу Вы можете оставить любую важную информацию: забрать документы, привезти одежду на примерку клиенту, быстро добраться домой или бесконтактно доставить продукты. Ваши пожелания сделают нашу работу для Вас еще приятнее. </p>
    </ul>
    <p>Главная миссия Kivi ride - обеспечить быстрым и качественным сервисом оптимальных решений всех жителей и гостей Минска, а также областных городов. Двигайся в стиле Kivi Ride!</p>
    <h2>Новости</h2>
    <div class="koncept-blocks">
      <a href="/news.html" class="koncept-block">
        <div class="koncept-block-img koncept-block-img-1"></div>
        <div class="koncept-block-text">И все это, не отрываясь от темпа своей жизни – во время перемещения и не выходя из</div>
      </a>
      <a href="/news.html" class="koncept-block">
        <div class="koncept-block-img koncept-block-img-2"></div>
        <div class="koncept-block-text">И все это, не отрываясь от темпа своей жизни – во время перемещения и не выходя из</div>
      </a>
      <a href="/news.html" class="koncept-block">
        <div class="koncept-block-img koncept-block-img-3"></div>
        <div class="koncept-block-text">И все это, не отрываясь от темпа своей жизни – во время перемещения и не выходя из</div>
      </a>
      <a href="/news.html" class="koncept-block">
        <div class="koncept-block-img koncept-block-img-4"></div>
        <div class="koncept-block-text">И все это, не отрываясь от темпа своей жизни – во время перемещения и не выходя из</div>
      </a>
      <a href="/news.html" class="koncept-block">
        <div class="koncept-block-img koncept-block-img-1"></div>
        <div class="koncept-block-text">И все это, не отрываясь от темпа своей жизни – во время перемещения и не выходя из</div>
      </a>
      <a href="/news.html" class="koncept-block">
        <div class="koncept-block-img koncept-block-img-2"></div>
        <div class="koncept-block-text">И все это, не отрываясь от темпа своей жизни – во время перемещения и не выходя из</div>
      </a>
      <a href="/news.html" class="koncept-block">
        <div class="koncept-block-img koncept-block-img-3"></div>
        <div class="koncept-block-text">И все это, не отрываясь от темпа своей жизни – во время перемещения и не выходя из</div>
      </a>
      <a href="/news.html" class="koncept-block">
        <div class="koncept-block-img koncept-block-img-4"></div>
        <div class="koncept-block-text">И все это, не отрываясь от темпа своей жизни – во время перемещения и не выходя из</div>
      </a>
    </div>                                                                                                       
  </div>
</section>