<div class="work">
  <div class="container">

    <div class="work-row">
      <div class="work-col work-col-text">
        <h1>Работа у нас</h1>
        <p>Работа с нами — это свобода управлять своим временем и доходом</p>
        <form action="" class="work-form" method="POST">
          <div class="field">
            <input type="text" class="work-input client-name" name="name" placeholder="Ваше имя" required>
          </div>
          <div class="field">
            <input type="text" class="work-input phone-number" name="phone" placeholder="+375291234567" required>
          </div>
          <div class="field">
            <select name="sort" class="work-input">
              <option value="vod-taxi">Водитель такси</option>
              <option value="vod-cour">Водитель-курьер</option>
              <option value="vod-taxi-cour">Водитель такси-курьер</option>
              <option value="cur">Пеший курьер</option>
            </select>
          </div>
          <div class="field">
            <input type="text" class="work-input" name="comment" placeholder="Комментарий">
          </div>
          <div class="field">
            <input type="submit" class="work-btn" value="Отправить">
          </div>
        </form>
      </div>
      <div class="work-col work-col-img">
        <div class="work-img work-img-1"></div>
      </div>
    </div>
  </div>
  <div class="modal">
    <div class="modal-text">
      <div class="modal-icon"></div>
      Спасибо
    </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<script>
  $(document).ready(function($) {
      $('.phone-number').mask('+375 (00) 000 00 00', {
          placeholder: "+375 (__) ___ __ __"
      });

      $('.client-name').mask('AAAAAAAAAAAAAAAAAAAA', {'translation': {
              A: {
                  pattern: /[А-Яа-я]/
              }
          }
      });
  });

</script>
