<div class="work">
  <div class="container">
    
    <div class="work-row">
      <div class="work-col work-col-text">
        <h1>Работа у нас</h1>
        <p>Работа с нами — это свобода управлять своим временем и доходом</p>
        <form action="" class="work-form">
          <div class="field">
            <input type="text" class="work-input" name="name" placeholder="Ваше имя" required>
          </div>
          <div class="field">
            <input type="text" class="work-input" name="phone" placeholder="+375291234567" required>
          </div>
          <div class="field">
            <input type="text" class="work-input" name="work" placeholder="Вид деятельности">
          </div>
          <div class="field">
            <input type="text" class="work-input" name="comment" placeholder="Комментарий">
          </div>
          <div class="field">
            <input type="submit" class="work-btn" value="Отправить">
          </div>
        </form>
      </div>
      <div class="work-col work-col-img">
        <div class="work-img work-img-1"></div>
      </div>
    </div>
  </div>
  <div class="modal">
    <div class="modal-text">
      <div class="modal-icon"></div>
      Спасибо
    </div>
</div>
</div>